<div id="target_container">
	<div id="setTarget">
	    <block tpl-id="inputTarget">
			<div id="topBar">
				<span id="goOn">继续</span>
		        <span class="app_name">聚点</span>
		        <span id="setDestination">目的地</span>
		    </div>
    	</block>
	</div>

    <div id="r-result">
        <label for="suggestId">目的地:</label>
        <input type="text" id="suggestId" size="20" style="width:70%;" />
    </div>

    <div id="map" class="targeMap"></div>

	<div id="selectDestinationMethod">
		<button id="setself">当前位置为目的地</button>
		<br/>
		<button id="setAddressFormLBS">地图选点为目的地</button>
		<br/>
		<button id="inputAddress">输入目的地</button>	
		<br/>
		<button id="cancelOption">取消</button>	
	</div>
</div>
