
 #chatroom,#chatChannelMain,#create_container
{
    overflow: hidden;
    position:relative;
    padding:0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4
}


section{
	background-color: white;
}

 #toolbar
{
    position: absolute;
    z-index: 2008;
    top: 0px;
    margin:0px;
    width: 100%;
    color: #fff;
    height: 40px;
    line-height: 40px;
    background: #8bbbf6;
    text-align: center;
    font-size: 15px;
}

#toolbar span{
	height: 40px;
	line-height: 40px;
	font-size: 18px;
}
 
#messages
{
	position:absolute;
	top:40px;
	width: 100%;
	overflow: auto;
	bottom:40px;
}

#channel{
	position:absolute;
	top:40px;
	width: 100%;
	overflow: auto;
	bottom: 0px;
}


.username{
	margin:5px;
	color: #ffa522;
}

.username span{
	padding-left: 10px;
	color: #e89745;
	font-size: 10px;
}

 
.bubble {
	position: relative;
	display: inline-block;
	min-width: 30px;
	max-width: 80%;
	word-break: break-all;
	word-wrap: break-word;
	min-height: 22px;
	background: #C2C2C2;
	border-radius: 15px;
	margin-bottom: 10px;
	margin-top:10px;
	margin-left: 15px;
	padding: 5px 8px;
	-webkit-box-shadow: 0px 1px 2px #000, inset 0px 4px 4px rgba(0,0,0,.3), inset 0px -4px 4px rgba(255,255,255,.5);
	-moz-shadow: 0px 1px 2px #000, inset 0px 4px 4px rgba(0,0,0,.3), inset 0px -4px 4px rgba(255,255,255,.5);
	box-shadow: 0px 1px 2px #000, inset 0px 4px 4px rgba(0,0,0,.3), inset 0px -4px 4px rgba(255,255,255,.5);
}
.bubble:before {
	content: '';
	display: block;
	font-size: 0;
	width: 0;
	height: 0;
	border-width: 6px;
	position: absolute;
	top: -12px;
	left: 12px; 
	border-color: transparent transparent #4a4c50 #4a4c50;
	border-style: solid dashed dashed solid;
}


.bubble:after {
	content: '';
	display: block;
	font-size: 0;
	position: absolute;
	top: -9px;
	left: 13px;
	width: 0;
	height: 0;
	border-width: 5px;
	border-color: transparent transparent #e8e8e8 #e8e8e8;
	border-style: solid dashed dashed solid;
}
.bubble .content {
	position: relative;
	padding: 4px;
}
.bubble .content:before {
	content: '';
	position: absolute;
	margin: auto;
	top: -5px;
	left: 0;
	width: 100%;
	height: 12px;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.2) 90%, rgba(255,255,255,0) 90% );
	background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.2) 90%, rgba(255,255,255,0) 90% );
	border-radius: 10px
}

footer{
	position: absolute;
    z-index: 30000;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background: #e5e5e5;
    font-size: 14px;
}

footer #inputMessage
{
	
    width: 60%;
    height: 28px;
    margin-top: 4px;
    border-radius:10px;
    background: #fff;
    font-size: 14px;
    margin-left:10px;
}


#toolbar button{
	position:relative;
	z-index:300021;
	margin-top:4px;
	width: 70px;
	height: 30px;
	line-height: 0px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: white;
	border-radius: 3px;
	border: 1px solid #4688D6;
	background-color: #5e9ee9;
}

#back,#backTochannel,#roomBackTochannel{
	float:left;
	margin-left:10px;
}


#send{
	position:relative;
	z-index:300021;
	margin-top:4px;
	width: 70px;
	height: 30px;
	line-height: 0px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: white;
	border-radius: 3px;
	border: 1px solid #4688D6;
	background-color: #5e9ee9;
	float:right;
	margin-right:10px;
}
#create,#ok,#logout{
	float:right;
	margin-right:10px;
}


#join{
	float:right;	
	width: 70px;
	height: 30px;
	line-height: 0px;
	font-size: 16px;
	font-weight: bold;
	margin-top:5px;
	margin-right:5px;
	text-align: center;
	color: white;
	border-radius: 3px;
	border: 1px solid #4688D6;
	background-color: #5e9ee9;	
}


button{
	width: 100%;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: white;
	border-radius: 3px;
	border: 1px solid #4688D6;
	background-color: #4C93E7;
}

#loginBaidu{
	margin-top:100px;
}

#loginVisitor{
	margin-top:15px;			
}


#channel ul{
	list-style: none;
	margin: 0px;
	padding: 0px;	
}


#channel ul li{
	display:block;
	background-color: #fff;
	border-top: 2px #E1E1E1 solid;
	border-bottom: 2px #E1E1E1 solid;
	width: 100%;
	height: 50px;
	font-size: 18px;	
}

#channelName{
	margin-top:6px;
	margin-left:10px;
}

.createTime{
	color:#ADACAC;
	margin-top:3px;
	margin-left:10px;
	font-size:10px;
}

#inputChannelName{
	width: 95%;
	height: 40px;
	margin-top: 30px;
	font-size: 18px;
	border-radius: 15px;
}

		