<div id="listMain">
    <div id="toolbar">
        <span>Bird Sightings</span>
        <img id="create" src="/assets/res/add.png"/>
    </div>
        <div id="list">
            <ul>
                <li>
                    <div class="name"> Duck </div>
                    <img src="/assets/res/right_arrow.png"/>
                    <div class="time">9-22 14:00</div>
                </li>
                <li>
                    <div class="name"> Swan </div>
                    <img src="/assets/res/right_arrow.png"/>
                    <div class="time">9-22 15:00</div>
                </li>
            </ul>
        </div>
</div>

