<div id="register_container">
	<label for="register_username">用户名</label>
	<input id="register_username" name="register_username"/>
	<br/>

	<label for="register_password">  密码</label>
	<input type="password" id="register_password" name="register_password"/>
	<br/>

	<label for="register_age">  年龄</label>
	<input id="register_age" name="register_age"/>
	<br/>

	<label for="register_gender">  性别</label>
	<input type="radio" value="男" checked="checked" name="register_gender"/>男
	<input type="radio" value="女" name="register_gender"/>女
	<br/>

	<button id="submit" >注册</button>

</div>